.list-task {
    margin: 20px 0 0 20px;
}

.task {
    margin: 0 0 15px 0
}

.task__item {
    margin: 0 20px 0 0;
}

.task__link {
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #008CBA;
}

.warning {
    font-size: 18px;
    color: red;
}

.marked {
    text-decoration:line-through;
    color: green;
}